/* general */

h4 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    margin-top: 8px;
    color: hsl(180, 14%, 20%);
}

h4:hover {
    color: hsl(180, 29%, 50%);
}

p {
    color: hsl(180, 8%, 52%);
}

a {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    color: hsl(180, 8%, 52%);
}

a:hover {
    color: hsl(180, 29%, 50%);
}

hr {
    display: none;
}


/* header img */

.header-img {
    display: block;
    width: 100%;
    height: 120px;
    background-color: hsl(180, 29%, 50%);
}


/* filter */

.filter-container {
    position: relative;
    background-color: hsl(180, 52%, 96%);
}

.filter {
    width: 70%;
    padding: 1.5% 4%;
    position: absolute;
    top: -35px;
    left: 15%;
    z-index: 10;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 2px hsl(180, 31%, 95%);
}

.filter-item {
    display: inline-block;
    margin: 0 6px;
    padding-left: 4px;
    line-height: 2;
    border-radius: 5px;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 52%, 96%);
    font-size: 13px;
    font-family: 'Spartan', sans-serif;
}

.filter-item::after {
    content: 'X';
    /* text-align: center; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    margin-left: 4px;
    padding: 2px 8px;
    background-color: hsl(180, 29%, 50%);
    color: #fff;
    height: 100%;
}

.filter-item:hover::after {
    background-color: hsl(180, 14%, 20%);
}

.filter-trailer {
    display: block;
    float: right;
}


/* item list */

.item-list {
    position: relative;
    margin: 0;
    padding: 6% 15%;
    background-color: hsl(180, 52%, 96%);
}

.item {
    background-color: #fff;
    padding: 2% 4%;
    position: relative;
    margin: 14px 0;
    border-radius: 6px;
    box-shadow: 0 8px 4px hsl(180, 31%, 95%);
}

.item::before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background-color: hsl(180, 29%, 50%);
}

.item-start,
.item-trailing {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}

.item-trailing {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
}

.top-start,
.top-mid,
.top-trailer {
    display: inline-block;
}

.top-start {
    font-family: 'Spartan', sans-serif;
    color: hsl(180, 29%, 50%);
    font-weight: 700;
}

.top-mid,
.top-trailer {
    margin: 0 6px;
    color: white;
    padding: 0 6px;
    border-radius: 25px;
}

.top-mid {
    background-color: hsl(180, 29%, 50%);
}

.top-trailer {
    background-color: hsl(180, 14%, 20%);
}

.trailing-item {
    display: inline-block;
    margin: 0 4px;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 52%, 96%);
    border-radius: 4px;
    padding: 2px 6px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

.trailing-item:hover {
    background-color: hsl(180, 29%, 50%);
    color: #fff;
}


/* responsive */

@media only screen and (max-width: 1024px) {
    .item-trailing {
        float: left;
        left: -4%;
        top: 20px;
        position: relative;
    }
}

@media only screen and (max-width: 375px) {
    .item-img {
        position: relative;
        top: -30px;
        width: 60px;
        height: 60px;
        left: 8%;
    }
    .item {
        padding: 2%;
        margin: 30px 0;
    }
    .top-mid,
    .top-trailer {
        font-size: 10px;
        margin: 0 2px;
    }
    .item-trailing {
        top: 28px;
    }
    .item-start {
        position: relative;
        top: -15px;
    }
    hr {
        display: block;
        width: 80%;
        position: relative;
        top: -26px;
    }
}